@font-face {
    font-family: josefin sans-bold;
    src: url(./font/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: josefin sans;
    src: url(./font/JosefinSans-Medium.ttf);
}

body {
    font-family: josefin sans;
    background:hsl(0, 11%, 95%);
    color: hsl(235, 19%, 35%);
}

header {
    background-image: url(./images/bg-mobile-light.jpg);
    background-repeat: repeat;
    width: 94%;
    padding: 20px;
    padding-bottom: 60px;
    margin-left: -8px;
    margin-top: -18px;
    color: hsl(0, 11%, 95%);
    letter-spacing: 5px;
    font-weight: bolder;
}

header img {
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.form input {
    padding:10px;
    font-size: 17px;
    outline: none;
    font-family: josefin sans;
    padding-left: 50px;
    margin-top: -77px;
    position: absolute;
    left: 40px;
    color: hsl(235, 19%, 35%);
    width: 60%;
    border: 1px solid white;
    border-radius: 5px;
}

.form div {
    padding: 2px;
    border: 1px solid  hsl(0, 11%, 95%);
    background:hsl(0, 11%, 95%);
    border-radius: 50px;
    width: 10px;height: 8px;
    position: absolute;
    left: 57px;margin-top: -65px;
}

.header {
    font-family: josefin sans-bold;
}

.header h2 {
    margin-left: -15px;
}

ul li {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px auto;
}

.card-layout {
    justify-self: center;
    position: absolute;
    margin-top: -30px;
    margin-left: 32px;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
}

.card-layout img {
    position: absolute;
    margin-top: -20px;
    width: 15px;
}

.check-icon {
    border-radius: 50%;
    padding: 3px;
    background-position: cover;
    left: 15px;
    background-image: linear-gradient(to right,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.close-icon {
    right: 15px;
    cursor: pointer;
}

.task {
    margin-top: -7px;
    position: absolute;
}

@media screen and (min-width : 376px){
    header {
        background-image: url(./images/bg-desktop-light.jpg);
        background-color: hsl(280, 87%, 65%);
        margin-left: -10px;
    }
    .form input {
        left: 55px;
        width: 61%;
    }
    .container {
        width: 80%;
        margin-left: 15px;
    }
    .form div {
        left: 70px;
    }
    input .check-icon {
        margin-left: -10px;
    }
    .header h2 {
        margin-left: 0px;
    }
}